<!doctype html>
<html>

<head>
  <title>SSD oAuth Authorization App</title>
  <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/882f3c85cc.js" crossorigin="anonymous"></script>
</head>

<body style="background: url('/img/background.png');background-size: 100%;">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-2.5 m-auto">
        <div class="card card-body border-primary text-center">
          <h3 class="text-danger">
            <span class="fa fa-google-plus"></span> google
          </h3>
          <img src="<%=pic%>" width="150" height="150" alt="profile-pic" />
          <h5><b>
              <%= name %>
            </b></h5>
          <a href="/google/logout" class="btn btn-outline-primary btn-sm">Logout</a>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-10 m-auto">
        <div class="card card-body border-primary text-center">
          <h4><b>GOOGLE DRIVE FILE UPLOADER</b></h4>
          <% if (success) { %>
            <div class="alert alert-success alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
              <strong>Success!</strong> Your File is Uploaded Successully.
            </div>
            <%}%>
              <form action="/upload" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                  <input type="file" class="form-control" name="file" required id="" />
                </div>
                <div class="form-group">
                  <button class="btn btn-block btn-danger">
                    Upload File
                  </button>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>